.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button {
  border-color: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.add-to-cart-btn {
  background-color: #f0c14b;
  color: black;
  padding: 0.6rem 4rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}
.add-to-cart-btn:hover {
  background-color: chocolate;
}
.remove-cart-btn {
  background-color: #b90404;
  color: rgb(255, 255, 255);
  padding: 0.6rem 4rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-left: 20px;
  cursor: pointer;
}
.remove-cart-btn:hover {
  background-color: rgb(95, 5, 5);
}
